#mainmsc{
  margin-left:200px;
  background-color: #e2dfb7;
    
 overflow:hidden;
}

#cuesta{
    display:block;
    height:300px;
    width:1000px;
    
}
#t49{
    display:block;
    margin-left:5%;
    margin-right:5%;
    max-width:80%;
    height:auto;
    
    
}
    
    
@media only screen and (max-width: 768px) {
     
    
    #mainmsc{
   margin-left:0px;
    }
    #cuesta{
        width:100%;
        height:auto;
    }
    
}



