#mainprogmod{
  margin-left:200px;
  background-color: #e2dfb7;
    height:2000px;
        overflow:hidden;
        
}



@media only screen and (max-width: 768px) {
    
       #mainprogmod{
   margin-left:0px;
    }

    
}